/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

table {
  border-collapse: collapse;
  width: 63%;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

/* Style the table header */
thead {
  background-color: #f2f2f2;
}

/* Style the table header cells (th) */
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 10px;
}

/* Style the table body rows (tr) */
tr {
  border: 1px solid #dddddd;
}

/* Style the table body cells (td) */
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Add some spacing between rows */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect on rows */
tbody tr:hover {
  background-color: #ddd;
}
/* 
.nav-link {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
} */
